<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.ttms.product.dao.ProductTypeDao">
   
    <insert id="insertObject"
            parameterType="productType">
            insert into tms_classes
            (name,parentId,sort,note,
             createdTime,modifiedTime,
             createdUser,modifiedUser)
            values(
            #{name},#{parentId},#{sort},#{note},
            now(),now(),#{createdUser},#{modifiedUser}
            )
    </insert>
   
    <!-- 在这里可以将node对象理解为
                 一个vo(value object)对象
        FAQ:
        1)可以使用实体类(ProductType)封装数据吗?可以
        2)可以使用map封装数据吗?可以-->
                 
    
    <select id="findZtreeNodes"
            resultType="cn.tedu.ttms.common.vo.Node">
         select id,name,parentId
         from tms_classes
    </select>
    
    <select id="hasChilds"
            resultType="int">
            select count(*)
            from tms_classes t
            where t.parentId=#{id}
    </select>
    
    <delete id="deleteById">
            delete 
            from tms_classes
            where id=#{id}
    </delete>
    
   
    <select id="findTreeGridNodes"
            resultType="map">
          <!-- 方法1 -->
          select c.*,p.name parentName
          from tms_classes c left join tms_classes p
          on c.parentId=p.id
          <!--  方法2(扩展)
          select  c.*,(select p.name parentName
                  from tms_classes p
                  where c.parentId=p.id)
          from tms_classes c
          -->
    </select>
   
</mapper>

